:root {

    
    --branco-principal:#ffffff;
    --cinza-secundario: #cecece;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:'inter';
    --efeito:#9dc9ff;
}
    
    body {
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
     }

     * {
        margin: 0;
        padding: 0;

     }

     .principal {

        background-image: url(img/Background.png);
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
     }

    .container {
        height: 100vh;
        display:grid ;
        grid-template-columns: 50% 50%;

     }


     .container__botao{

        background-color:var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color:var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
     }

     .botao_secudario{

        background-color:transparent;
        border: 2px solid var(--branco-principal);

     }

     .container_aviso{

      font-size: 12px;
      color: var(--cinza-secundario);
     }

     .container_titulo{

     font-size: 28px;
     font-weight: 700;
      

     }

     .container_imagem {

      margin: 1em 0 2em 0;
     }


    .container_caixa {

      margin: 0 1em;
   
      
    }

    .secudario_imagem {

      width: 80%;

    }
   
    .secudario {

      align-items: center;
      margin: 0 100px;
    }

    .descricao_titulo{

      font-weight: 700;
      font-size: 48px;
      color: var(--branco-principal);
      margin: 0 0 10px 0;
    }

    .secudario_botao{

      display: inline-block;
      margin: 1em ;
    }

    .container_descricao {

      padding: 2em;
    }

    .dispositivos_lista {

      display: flex;
      justify-content: center;
      text-align: center;
      list-style-type: none;
      margin: 5em 0;


    }


    .dispositivos {

      text-align: center;
    
    }

    .dispositivos_titulo{

      font-size:48px;
      color: var(--branco-principal);

    }

    .lista_item{

      font-size:32px;
      
    }

    

.rodape__lista {
  
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin-bottom: 1em;
}

.lista__link a{
   text-decoration: none;
   color: var(--cinza-secundario);
   margin-left: 1em;
}

.rodape {
   text-align: center;

  }

  
.rodape__texto{

   color: var(--cinza-secundario);
   text-align: center;


}

.lista__link a:hover{

   color: var(--efeito);
   background-color: #ff0c0c;
}
